<template>
  <div>
    <v-app-bar color="primary" dark app prominent>
      <v-container>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="6" md="6">
            <v-toolbar-title><h3>セイリーハウス　案件管理</h3></v-toolbar-title>
          </v-col>
          <v-col cols="3" md="3">
            <v-btn light>情報更新</v-btn>
            <v-btn light>案件追加</v-btn>
            <v-btn light>画面印刷</v-btn>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="4" md="4">
            <v-btn light>カナ名検索</v-btn>
            <v-btn light>顧客名検索</v-btn>
            <v-btn light>整理番号検索</v-btn>
          </v-col>
          <v-col cols="3" md="3">
            <v-select solo
              :items="[
                { label: '主要品目A', value: '1' },
                { label: '主要品目B', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="主要品目を選択すると検索します"
              light
            ></v-select>
          </v-col>
          <v-col cols="3" md="3">
            <v-select solo
              hide-details
              :items="[
                { label: 'ステータスA', value: '1' },
                { label: 'ステータスB', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="ステータスを選択すると検索します"
              light
            ></v-select>
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <div class="split-box left-box">
      <v-container>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined label="整理番号" hide-details></v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-select outlined
              hide-details
              label="案件状況"
              :items="[
                { label: '案件状況A', value: '1' },
                { label: '案件状況B', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              light
            ></v-select>
          </v-col>
          <v-col cols="3" md="3">
            <v-select outlined
              hide-details
              :items="[
                { label: '進行中', value: '1' },
                { label: '確認中', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="進行状況"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="4" md="4">
            <v-select outlined
              :items="[
                { label: 'A店舗', value: '1' },
                { label: 'B店舗', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="店舗"
              light
            ></v-select>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field outlined label="受付日" hide-details></v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-select outlined
              :items="[
                { label: '受付担当A', value: '1' },
                { label: '受付担当B', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="受付担当"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="5" md="5">
            <v-text-field outlined label="カナ名" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="5" md="5">
            <v-text-field outlined label="顧客名" hide-details></v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-select outlined
              hide-details
              items="[ { label:'電話', value: '1'},  { label:'メール', value: '2'}]"
              item-text="label"
              item-value="value"
              return-object
              label="問い合わせ方法"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined label="TEL1" hide-details></v-text-field>
          </v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined label="TEL2" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined label="FAX"></v-text-field>
          </v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined label="mail"></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="2" md="2">
            <v-text-field outlined label="〒" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="2" md="2">
            <v-text-field outlined label="住所"></v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field outlined></v-text-field>
          </v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="2" md="2">
            <v-text-field outlined label="〒" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="2" md="2">
            <v-text-field outlined label="設置先" hide-details></v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field outlined hide-details></v-text-field>
          </v-col>
          <v-col cols="4" md="4">
            <v-text-field outlined hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="3" md="3">
            <v-text-field outlined label="設置先TEL" hide-details></v-text-field>
          </v-col>
          <v-col cols="5" md="5"></v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="3" md="3">
            <v-select outlined
              :items="[
                { label: '主要品目A', value: '1' },
                { label: '主要品目B', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object　
              label="主要品目"
              light
            >
            </v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            案件内容（注文内容やお客様との会話状況など）
            <v-card>
              テスト \330,000 数量：1 <br />
              別売り棚セット　数量：2 <br />
              転倒防止工事　数量：2 <br />
              --------------------------------- <br />
              小計　\- <br />
              合計 \- <br />
              <br />
              メッセージ：今週見積書を頂きました<br />
              【発行日】令和元年１月１日　【見積書】No.XXXXXX<br />
              見積内容と注文内容及び金額に相違がございますので、<br />
              照合の上修正の対応をお願い致します<br />
              また工期....<br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </v-card>
          </v-col>
        </v-row>
        <v-row><v-col cols="1" md="1"></v-col></v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            <v-textarea outlined label="下見コメント"></v-textarea>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            <v-textarea outlined label="見積書コメント"></v-textarea>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            <v-textarea outlined label="工事予定コメント"></v-textarea>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            <v-textarea outlined label="入金他コメント"></v-textarea>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1"></v-col>
          <v-col cols="10" md="10">
            <v-textarea outlined label="備考"></v-textarea>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="split-box right-box">
      <v-container>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-select outlined
              hide-details
              :items="[
                { label: '事業所A', value: '1' },
                { label: '事業所B', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="事業所"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="営業担当"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col ccols="7" md="7">
            <v-btn color="gray" dark>事業所依頼用e-mail 作成</v-btn>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="下見No" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="下見予定日" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="下見実施日"></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="見積提示日" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="見積書No" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="見積金額（税込み）" hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-select outlined
              hide-details
              :items="[
                { label: '成', value: '1' },
                { label: '否', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="成否"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="受注日" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="契約金額"></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-btn color="deep-purple accent-4" dark>お振込口座のご案内作成</v-btn>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-btn color="blue" dark>金額付きお振込口座のご案内作成</v-btn>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="入金日" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="入金額（税込み）" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-select outlined
              hide-details
              :items="[
                { label: '入金種別１', value: '1' },
                { label: '入金種別２', value: '2' }
              ]"
              item-text="label"
              item-value="value"
              return-object
              label="入金種別"
              light
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="入金完了F" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="工事・お届け予定日" hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="工事・お届け完了日" hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="AO伝票番号" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="7" md="7">
            <v-text-field outlined label="領収証発行日" hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="7" md="7">
            領収証が必要な場合（宛名等を記録）
            <v-textarea outlined hide-details></v-textarea>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="7" md="7">
            <v-text-field outlined label="依頼日" hide-details></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
@Component({})
export default class extends Vue {

}
</script>
<style scoped>
.split-box {
  position: absolute;
  height: 100%;
}

.left-box {
  left: 0;
  width: 70%;
}

.right-box {
  width: 30%;
  right: 0;
  /* overflow-y: scroll; */
}
</style>
