<template>
  <div>
      <v-app-bar color="primary" dark app prominent>
        <v-container>
          <v-row dense>
            <v-col cols="9" md="9">
            <v-toolbar-title><h3>セイリーハウス　案件管理</h3></v-toolbar-title>
            </v-col>
              <v-col  cols="3" md="3">
                <v-btn light>情報更新</v-btn>
                <v-btn light>案件追加</v-btn>
                <v-btn light>画面印刷</v-btn>
              </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6" md="6">
              <v-btn light>カナ名検索</v-btn>
              <v-btn light>顧客名検索</v-btn>
              <v-btn light>整理番号検索</v-btn>
            </v-col>
            <v-col cols="3" md="3">
              <v-select
              solo  hide-details
              :items="items"
              label="主要品目を選択すると検索します"
             light></v-select>
            </v-col>
            <v-col cols="3" md="3">
              <v-select
              solo  hide-details
              :items="items"
              label="ステータスを選択すると検索します"
             light></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-app-bar>
      <v-container>    
        <v-row dense>
          <v-col cols="2" md="2">
            <v-text-field label="整理番号" solo  hide-details>
            </v-text-field>
            </v-card>
          </v-col>
          <v-col cols="2" md="2">
            <v-select
            solo  hide-details
            :items="items"
            label="案件状況"
            light></v-select>
          </v-col>
          <v-col cols="2" md="2">
            <v-select
            solo  hide-details
            :items="items"
            label="進行状況"
            light></v-select>
          </v-col>
          <v-col cols="2" md="2">
          </v-col>
          <v-col cols="3" md="3">
            <v-select
            solo  hide-details
            :items="items"
            label="事業所"
            light></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" md="2">
            <v-select
            solo
            :items="items"
            label="店舗"
            light></v-select>
          </v-col>
          <v-col cols="2" md="2">
            <v-text-field label="受付日" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2">
            <v-select
            solo
            :items="items"
            label="受付担当"
            light></v-select>
          </v-col>
          <v-col cols="2" md="2">
          </v-col>
          <v-col cols="2" md="2">
            <v-text-field label="営業担当" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="4" md="4">
            <v-text-field label="カナ名" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="4" md="4">
          </v-col>
          <v-col cols="2" md="2">
            <v-btn>事業所依頼用e-mail作成
            </v-btn>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="4" md="4">
            <v-text-field label="顧客名" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2">
            <v-select
            solo  hide-details
            :items="items"
            label="問い合わせ方法"
            light></v-select>
          </v-col>
          <v-col cols="2" md="2"></v-col>
          <v-col cols="2" md="2">
            <v-text-field label="下見書No" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="3" md="3">
            <v-text-field label="TEL1" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field label="TEL2" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2"></v-col>
          <v-col cols="2" md="2">
            <v-text-field label="下見予定日" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" md="2">
            <v-text-field label="FAX" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="4" md="4">
            <v-text-field label="mail" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2"></v-col>
          <v-col cols="2" md="2">
            <v-text-field label="下見実施日" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" md="2">
            <v-text-field label="〒" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1">
            <v-text-field label="住所" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2">
            <v-text-field solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2"></v-col>
           <v-col cols="2" md="2">
            <v-text-field label="見積提示日" solo hide-details>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="2" md="2">
            <v-text-field label="〒" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="6" md="6"></v-col>
          <v-col cols="2" md="2">
            <v-text-field label="見積No" solo hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="1" md="1">
            <v-text-field label="設置先" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2">
            <v-text-field solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="3" md="3">
            <v-text-field solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="2" md="2"></v-col>
           <v-col cols="2" md="2">
            <v-text-field label="見積金額（税込み）" solo hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="3" md="3">
            <v-text-field label="設置先TEL" solo  hide-details>
            </v-text-field>
          </v-col>
          <v-col cols="5" md="5">
          </v-col>
           <v-col cols="2" md="2">
             <v-select
            solo  hide-details
            :items="items"
            label="成否"
            light></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col  cols="3" md="3"><v-select
            solo  hide-details
            :items="items"
            label="主要品目"
            light></v-select></v-col>
           <v-col  cols="5" md="5"></v-col>
           <v-col  cols="2" md="2">
            <v-text-field label="受注日" solo >
            </v-text-field>
            <v-text-field label="契約金額" solo  hide-details>
            </v-text-field>
          </v-col>
        </v-row>
         <v-row dense>
           <v-col  cols="6" md="6">
             案件内容（注文内容やお客様との会話状況など）
            <v-card>
                1 <br />
                1 <br />
                1 <br />
                1 <br />
                1 <br />
                1 <br />
                1 <br />

            </v-card>
           </v-col>
           </v-row>
           
      </v-container>
      
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
import 'vuetify/dist/vuetify.min.css'
@Component({})
export default class extends Vue {
    items = ['1', '2', '3', '4']
  }
</script>
<style scoped>
.split-box{
	position:absolute;
	width:50%;
	height:100%;
}
 
.left-box {
	left:0;
}
 
.right-box {
	right:0;
	overflow-y:scroll;
}
</style>
