 <template>
    <div>
      Hello World
    </div>
  </template>
  <router>
    name: top
  </router>
  <script lang="ts">
  import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'
    import 'vuetify/dist/vuetify.min.css'
  @Component({})
  export default class extends Vue {
  }
  </script>